# Bought Together

In [1]:
# importing all the required Libraries
import glob
import json
import csv
import pandas as pd
import numpy as np
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from wordcloud import WordCloud
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer
import string
import matplotlib.pyplot as plt
from nltk.stem import PorterStemmer
import calendar
import collections

In [2]:
# Creating a path for Review file i.e. input Data.
file2=glob.glob('../Project/Data/Tested_Data/ProductSample.json')

In [3]:
product=[]
with open(file2[0]) as data_file:
    data=data_file.read()
    for i in data.split('\n'):
        product.append(i)

In [8]:
Combine=[]
for x in product:
    try:
        y=x.replace("'",'"')
        jdata=json.loads(y)
        Combine.append((jdata['asin'],jdata['related']['bought_together'],jdata['price'],jdata['related']['also_bought'],jdata['related']['also_viewed']))   
    except:
        pass

In [9]:
len(Combine)

52546

In [10]:
CombineValue=[]
for i in Combine:
        CombineValue.append((i[0],len(i[1])+1,i[2],len(i[3]),len(i[4])))

In [11]:
# Creating a dataframe using the list of Tuples got in the previous step.     
Pack_dataset=pd.DataFrame(CombineValue,columns=['Asin','Number_Of_Pack','Price','Also_Bought','Also_Viewed'])

In [12]:
Pack_dataset.head()

         Asin  Number_Of_Pack  Price  Also_Bought  Also_Viewed
0  0000031887               2   6.79           95           59
1  0123456479               3  64.98            9           59
2  5555015097               5  22.95            8           20
3  5555014368               5  22.95           14           42
4  5555012322               3  22.95           71           59

# Check for popular bundle(number of product in a bundle)

In [13]:
Pack_result=Pack_dataset.groupby('Number_Of_Pack')['Asin'].count().reset_index()

In [14]:
Pack_result

   Number_Of_Pack   Asin
0               2  14281
1               3   9571
2               4   5541
3               5  23153

# Top 10 Popular brands which sells Pack of 2 and Pack of 5

In [50]:
# get all the asin for Pack 2 and 5 since they have the highest number of counts.
Pack2_5=Pack_dataset[(Pack_dataset.Number_Of_Pack == 2) | (Pack_dataset.Number_Of_Pack == 5)]

In [52]:
list_Pack2_5=Pack2_5.Asin.tolist()

In [53]:
pop_Brand=[]
for x in product:
    try:
        y=x.replace("'",'"')
        jdata=json.loads(y)
        if jdata['asin'] in list_Pack2_5:
            pop_Brand.append(jdata['brand'])  
    except:
        pass

In [54]:
pop_Brand=list(filter(None, pop_Brand))

In [55]:
Top10=collections.Counter(pop_Brand).most_common(10)

In [56]:
Top10_data=pd.DataFrame(Top10,columns=['Brand','No_Of_Pack_2_&_5'])

In [59]:
Top10_data.head()

                    Brand  No_Of_Pack_2_&_5
0  Rubie&#39;s Costume Co               804
1         Forum Novelties               505
2                  Rothco               236
3       Disguise Costumes               219
4                 Unknown               198

# Top 10 Popular Sub-Category with Pack of 2 and Pack of 5

In [60]:
# to make a multilevel list values flat
def make_flat(arr):
    res = []
    for l in arr:
        if isinstance(l, list):# or isinstance(l, collections.Iterable)
            res.extend(make_flat(l)) 
        else:
            res.append(l)
    return res

In [61]:
pop_Catg=[]
for x in product:
    try:
        y=x.replace("'",'"')
        jdata=json.loads(y)
        if jdata['asin'] in list_Pack2_5:
            pop_Catg.append(make_flat(jdata['categories']))  
    except:
        pass

In [63]:
pop_Catg= make_flat(pop_Catg)

In [68]:
Top10Catg=collections.Counter(pop_Catg).most_common(11)

In [69]:
Top10Catg_data=pd.DataFrame(Top10Catg[1:],columns=['Sub-Category','No_Of_Pack_2_&_5'])

In [72]:
Top10Catg_data.head()

               Sub-Category  No_Of_Pack_2_&_5
0                     Women             24574
1  Novelty, Costumes & More             23947
2                   Novelty             12656
3                       Men             12252
4                  Clothing             11938

# Checking for number of products brand 'Rubie&#39;s Costume Co' has listed on Amazon since it has highest number of bundle in pack 2 and pack of 5

In [101]:
No_prod_brand=[]
x_ls=['Rubie&#39;s Costume Co']
for x in product:
    try:
        y=x.replace("'",'"')
        jdata=json.loads(y)
        if jdata['brand'] in x_ls:
            No_prod_brand.append((jdata['asin'],jdata['title'],jdata['price']))   
    except:
        pass

In [103]:
brand_Prod=pd.DataFrame(No_prod_brand,columns=['Asin','Title','Price'])

In [106]:
Number_of_Products=brand_Prod.shape[0]

In [107]:
Number_of_Products

2175

# Min, Max and Average Selling Price of Brand 'Rubie&#39;s Costume Co'

In [115]:
Avg_SP=brand_Prod['Price'].mean()

In [116]:
Avg_SP

20.43500689655169

In [117]:
Min_SP=brand_Prod['Price'].min()

In [118]:
Min_SP

0.66000000000000003

In [119]:
Max_SP=brand_Prod['Price'].max()

In [120]:
Max_SP

783.01999999999998

# Top 10 Highest selling product in Clothing Category for Brand 'Rubie's Costume Co'

In [130]:
rank_brand=[]
x_ls=['Rubie&#39;s Costume Co']
for x in product:
    try:
        y=x.replace("'",'"')
        jdata=json.loads(y)
        if jdata['brand'] in x_ls:
            rank_brand.append((jdata['asin'],jdata['title'],jdata['price'],jdata['salesRank']['Clothing']))   
    except:
        pass

In [131]:
len(rank_brand)

1366

In [133]:
Rank_Gross=pd.DataFrame(rank_brand,columns=['Asin','Title','Price','SalesRank'])

In [135]:
TopGross=Rank_Gross.sort('SalesRank',ascending=True)

C:\Users\Rishabh\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [138]:
TopGross.head(10)

,Asin,Title,Price,SalesRank
171,B000I1D0BC,DC Comics Boys Action Trio Superhero Costume Set,26.89,1532
1312,B0077GSZLG,The Dark Knight Rises Batman Child Costume Kit,9.20,3718
478,B001DNK0HQ,Star Wars Clone Wars Ahsoka Lightsaber,11.99,4226
649,B0029F1X0A,Star Trek The Next Generation Deluxe Shirt Cos...,21.66,4234
59,B000H1Y0V2,Kids Cop Belt,13.16,4965
644,B0029F1WOC,Star Trek Classic Spock Ears,6.10,5708
255,B000U5KAJQ,Harry Potter Accessories Kit,7.80,6448
828,B0038IULDC,Rubies Costume Co Purple Super Model Costume Wig,5.99,7101
352,B000YSHA42,Rubies Costume Characters Old Lady / Mrs. Sant...,10.99,7625
574,B001O2Y5SQ,Super Value Family Makeup Kit,8.90,8605

In [139]:
TopGross.head(10)['Price'].mean()

12.267999999999999

# Top 10 most viewed product for brand 'Rubie's Costume Co'

In [150]:
Viewed_prod_brand=[]
for x in product:
    try:
        y=x.replace("'",'"')
        jdata=json.loads(y)
        Viewed_prod_brand.append(jdata['related']['also_viewed'])   
    except:
        pass 
Viewed_prod_brand=make_flat(Viewed_prod_brand)

In [163]:
view_prod=collections.Counter(Viewed_prod_brand).most_common(len(set(Viewed_prod_brand)))

In [165]:
view_prod_dataset=pd.DataFrame(view_prod,columns=['Asin','Views'])

In [166]:
views=[]
x_ls=['Rubie&#39;s Costume Co']
for x in product:
    try:
        y=x.replace("'",'"')
        jdata=json.loads(y)
        if jdata['brand'] in x_ls:
            views.append((jdata['asin'],jdata['title'],jdata['price']))   
    except:
        pass

In [171]:
views_dataset=pd.DataFrame(views,columns=['Asin','Title','Price'])

In [168]:
Most_Viewed=pd.merge(views_dataset,view_prod_dataset,on='Asin',how='inner')

In [178]:
Most_Viewed=Most_Viewed.sort('Views',ascending=False)

C:\Users\Rishabh\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [179]:
Most_Viewed=Most_Viewed[['Asin','Title','Price']]

In [180]:
Most_Viewed.head(10)

           Asin                                          Title  Price
65   B000H8GW2A  White Flapper Beads 60&quot; - Pearl Necklace   8.39
578  B004YARDMA          The Walking Dead Split Jaw Latex Mask  12.99
446  B003BW790I                    Harry Potter Deluxe Glasses   5.03
153  B000ROE4JC              Plastic Roman Costume Sword (toy)   7.99
364  B0029F1WOC                   Star Trek Classic Spock Ears   6.10
34   B000H3UIEI          Medieval Swords Halloween Toy Weapons   6.31
211  B000ZA50TQ                               Grecian Earrings   5.93
220  B00156D0FA                               Grecian Arm Cuff   6.73
412  B002PXSTI0                   Glitter Sequin Costume Glove   4.95
88   B000H8KYHE        Native American Indian Pendant Necklace   7.99

In [182]:
Most_Viewed.head()['Price'].min()

5.0300000000000002

In [183]:
Most_Viewed.head()['Price'].max()

12.99

In [185]:
Most_Viewed.head()['Price'].mean()

8.100000000000001

# ---------------------